.root {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: stretch;
}

.root > div {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.root iframe {
  width: 100% !important;
  max-width: 100% !important;
}

.root div[role='button'] {
  width: 100% !important;
  max-width: 100% !important;
}

@media (max-width: 640px) {
  .root {
    flex-direction: column;
  }
}
